@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
    @apply duration-300 text-red-600;
}

.eng-lang {
    @apply hidden;
}

.select-lang:hover .eng-lang {
    @apply block;
}

@keyframes fadeSlideIn {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateX(-100px);
    }
  }
  
  .fade-slide {
    opacity: 0; /* Start hidden */
    animation: fadeSlideIn 500ms ease-out forwards;
  }
